version: '3.7'
services:
  spring-rest:
    image: spring/spring-rest-docker
    container_name: spring-rest-docker
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - mongodb
      - redis
  mongodb:
    container_name: mongo
    image: mongo
    ports:
      - 27000:27017
    environment:
      - MONGO_INITDB_DATABASE=hoteldb
  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379

